
body{
    margin:0 auto;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
}

.row{
    margin:5 auto;
    padding: 1;
}

.col{
    margin:5 auto;
    padding: 1;
}


/* Fejlec elemek*/
.row header{
    text-align: center;
    background-image:url(./imgs/header_background.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

header h1{
    margin: 0;
    padding: 3px;
    color: white;
    font-size: 4rem;
    letter-spacing:6px;
}

h2{
    color: rgb(11, 70, 11);
    font-size: 1.5rem;
}

span{
    font-size: 2rem;
    color: red;
}

/*Navigacios elemek*/

.navbar{
    background-color: rgb(165, 112, 42);
}

.navbar ul{
    margin: 0;
    list-style:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.nav-button{
    background-color: rgb(165, 112, 42);
    color: white;
    text-decoration: none;
    padding: 5px;
}

.nav-button:hover{
    color:rgb(224, 207, 185);
}

/* Main elemek*/

.column{
    display: flex;
    justify-content: space-around;
    align-items: left;
}

.col-1{
    width: 55%;
    padding: 15px;
}

.col-2{
    
    width: 40%;
    padding: 15px;
}



.col-3{
    margin: 15px;
    width: 75%;
}

img{
    margin: 10px;
    max-width: 50%;
    float: left;
}



#footer-box{
    background-image: url(./imgs/footer_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color:rgb(165, 112, 42);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flow-root;        
}

.footer-textbox{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.377);
}

@media (max-width:600px) {
    .column{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}


    




