
body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header-box{

    text-align: center;
    background-color: beige;
    background-image:url(./imgs/header_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 0px;
}
h1{
    color: white;
    font-size: 500%;
    letter-spacing:6px;
}

/*Navigacios elemek*/

.nav-bar{
    background-color: rgb(165, 112, 42);
    overflow: hidden;
}

.nav-item{
    list-style:none;
    float: left;
}

.nav-button{
    background-color: rgb(165, 112, 42);
    color: white;
    text-decoration: none;
    padding: 5px;
}

.nav-button:hover{
    color:rgb(224, 207, 185);
}


#main-box{
   margin: 15px;
   border-radius: 5px;
   border: solid 1px rgb(165, 112, 42);
   display: flow-root; /* hogy minden kep benne maradjon a dobozba*/
}

#main-img{

    margin: 25px;
    max-height: 250px;
    max-width: 150px;
    float: left;
   
}

#main-header{
    color: rgb(11, 70, 11);
}


#footer-box{
    background-image: url(./imgs/footer_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color:rgb(165, 112, 42);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flow-root; 

        
}

.footer-textbox{

    padding: 5px;
    border: solid 1px rgba(255, 255, 255, 0.267);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.377);
}

