
body{
    margin:0 auto;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*LAYOUT*/
.container{
    display: flex;
    flex-direction: column;
}

.row{
    margin:5 auto;
    padding: 1;
}

.col{
    margin:5 auto;
    padding: 1;
}


/* Fejlec elemek*/
.row header{
    text-align: center;
    background-image:url(./imgs/new.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

header h1{
   
    color: white;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing:6px;
    /* top-left-bottom-right*/
    padding: 1em 1em 0 1em;
    margin: 0;
}

.subtitle{
    color: rgb(255, 166, 0);
    font-size:1.5rem;
    font-weight: 700;
    padding-bottom:1em;
    margin: 0;

}

h2{
    color: rgb(56, 38, 13);
    font-size: 1.5rem;
}

span{
    font-size: 2rem;
    color: orange;
}

/*Navigacios elemek*/

.navbar{
    background-color: rgba(46, 31, 12, 0.76);
}

.navbar ul{
    margin: 0;
    list-style:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.nav-button{
    color: orange;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.nav-button:hover{
    color:orange;
    border-bottom: 1px solid orange;
    border-bottom-width: 2px;
}

/* Main elemek*/

.column{
    display: flex;
    justify-content: space-around;
    align-items: left;

}

.col-1{
    width: 55%;
    padding: 15px;
}

.col-2{
    
    width: 40%;
    padding: 15px;
}

.col-3{
    margin: 15px;
    width: 75%;
}

.col-1 img{
    max-width: 55%;
}

.col-2 img{
    max-width: 55%;
}

.col-color{
    background-color: beige;
}

footer{
    background-color:orange;
    color: rgb(56, 38, 13);
    padding: 10px;
    display: flow-root;        
}

footer span{
    color: white;
}



@media (max-width:675px) {

    body{
        font-size: 1.5rem;
    }
    .column{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .col{
        min-width: 100%;
    }
    
    .col img{
        width: 40%;
        margin-left: 27%;
        
    }

    .col h2{
        text-align: center;
        padding: 1rem;
    }

    .col p{
        padding: 1.5rem;
        text-align: justify;
    }


    .navbar{
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar ul{
        margin: 0;
        padding-left: 1em;
        list-style:none;
        flex-direction: column;
        align-items: center;
    }

    .nav-button{
        background-color: rgba(255, 255, 255, 0);
        color: #ffff;
        font-size: 1.5rem;
        font-weight: 350;
    }
}

@media (min-width:675px){

    .column{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .col{

        width:45%;
    }

    .col h2{
        text-align: center;
        padding: 1rem;
    }

    .col p{
        padding: 1.5rem;
        text-align: justify;
    }

    .col img{
        min-width: 60%;
        margin-left: 27%;
        
    }
    



    .row header{
        text-align: left;
        padding: 1em 1em 0 1em;
    }
    .subtitle{
        text-align: left;
        padding: 0em 1em 0em 1em;
    }

    .navbar{
        background-color: rgba(255, 255, 255, 0);
    }
    
    .navbar ul{
        flex-direction: row;
        justify-content: end;
    }
    
    .nav-button{
        background-color: rgba(255, 255, 255, 0);
        color: #ffff;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        padding: 0px 5px 0px 5px;
    }
     

}





    




